.footer{
  height: 50px;
  background-color: #F8F8F8;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 100px;
}

.footer p{
  padding-top: 15px;
}

.content{
  margin-bottom: 50px;
}

.center{
  align-items: center;
}

/* .box{
  border: 20px;
  background: cyan;
  border-radius: 25px;
} */
